*{
    margin: 0;
}
body,html{
    font-size: 16px;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    color: yellow;
}

.parent1{
    
    background-color: black;
    width: 1600px;
    height:70px;
    position: fixed;
    z-index: 10;
    top: 0px;
    display: flex;
    
    
}
.display1{
    display: inline;
    
}
.parent{
    background-color: black;
    color: white;
}
.margin1{
    position: absolute;
    left: 400px;
    top: 10px;
}
.padding1{
    padding-left: 30px;
}
.padding2{
    position: absolute;
    right: -120px;
    top: 1px;
}
.padding3{
position: absolute;
right: -160px;
top: 1px;
}
.font1{
    font-size: 26;
    color: yellow;
}
.font2{
    font-size: 20;
    font-weight: 600;
    font-family: cursive;
    color: yellow;
}
.font2:hover{
    color: red;
    text-decoration: underline;
}
.padding4{
    padding-left: 70px;
    color: yellow;
}
.padding5{
    position: absolute;
    left: 30px;
    top: 13px;
}
.parent2{
    background-image: url(https://assets.nflxext.com/ffe/siteui/vlv3/59e045df-814d-4342-bf9d-e62ba23e916a/8f556f3d-382e-416a-a75b-dd22f1e211b6/EG-ar-20220418-popsignuptwoweeks-perspective_alpha_website_medium.jpg);
    background-size: cover;
    background-position: center;
    height: 100%;
    animation-name: main;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-delay: 3s;
    
}
.center1{
    text-align: center;
    padding-top: 350px;
    font-size: 60;
    font-weight: 700;

}
.center1::after{
    content: "Aflam";
    animation-name: korya;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
@keyframes main {
    0%{
        background-image: url(https://assets.nflxext.com/ffe/siteui/vlv3/59e045df-814d-4342-bf9d-e62ba23e916a/8f556f3d-382e-416a-a75b-dd22f1e211b6/EG-ar-20220418-popsignuptwoweeks-perspective_alpha_website_medium.jpg);
        background-size: cover;
        background-position: center;
        height: 100%;
    }
    50%{
        background-image: url(https://tv.dramacafe-tv.com/uploads/thumbs/9a8469822-1.jpg);
        background-size: cover;
        background-position: center;
        height: 100%;
    }

        75%{
            background-image: url(https://dnm.nflximg.net/api/v6/X194eJsgWBDE2aQbaNdmCXGUP-Y/AAAABSwie-Iq4yghFjsgOdNR8xVzp-SVKNoy11Y0gBvZ1nJ4JuAOb4rrcKYRR9QVsm9imDMWphNpBBhD60bcQvh1mpsQzzZ6rm3bVe0g5YIbfrqrOM0iIza5eoeiHzqidQ.webp?r=3db);
            background-size: cover;
            background-position: center;
            height: 100%;
        }
        
        
        100%{
            background-image: url(https://www.al-monitor.com/sites/default/files/styles/article_header/public/almpics/2020/11/paranormal.png/paranormal.png?h=a5ae579a&itok=ibPpM0jv);
            background-size: cover;
            background-position: center;
        height: 100%;
        
        }
    
}
@keyframes korya {

    0%{
        content:"Movie|";
    }
    30%{
        content:"Movi|";
    }
    50%{
        content:"Mov|";
    }
    80%{
        content:"Mo|";
    }
    90%{
        content: "M|";
    }
    100%{
        content: "|";
    }

    
}
.shadow1{
    text-shadow: 2px 1px 3px white;
}
.parent3{
    height: 3100px;
    background-color:#0f0a05;
    color: #dca523;
    position: relative;
}
.margin2{
    margin-left: 50px;
}
.font3{
    font-size: 35;
    font-weight: 600;
    font-family: cursive;
}
.margin2::after{
    display: inline-block;
    content: "";
    width: 150px;
    height: 2px;
    background-color: aliceblue;
    position: absolute;
    top: 55px;
    left: 140px;

}
.photo1{
    width: 290px;
    height: 400px;

}
.parent4{
    display: flex;
    justify-content: space-evenly;
}
.center2{
    text-align: center;
}
.parent10{
    display: flex;
    justify-content: space-evenly;
}
.margin3{
    margin-left: 50px;

}
.margin3::after{
    display: inline-block;
    content: "";
    width: 150px;
    height: 2px;
    background-color: aliceblue;
    position: absolute;
    top: 670px;
    left: 140px;
}
.margin4{
    margin-left: 50px;

}
.margin4::after{
    display: inline-block;
    content: "";
    width: 150px;
    height: 2px;
    background-color: aliceblue;
    position: absolute;
    top: 1280px;
    left: 140px;
}
.parent16{
    display: flex;
    justify-content: space-evenly;
}

.parent21{
    display: flex;
    justify-content: space-evenly;
}

.margin5{
    margin-left: 50px;

}
.margin5::after{
    display: inline-block;
    content: "";
    width: 150px;
    height: 2px;
    background-color: aliceblue;
    position: absolute;
    top: 1930px;
    left: 140px;
}
.center3{
    text-align: center;
    font-size: 40;
    font-weight: 600;
    font-family: cursive;
}
.center2:hover{
    color: red;
}
.icon1{
    font-size: 35;
    color: aliceblue;
    text-align: center;
    margin-top: 3px;
    animation-name: icon;
    animation-duration: 0.6s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
@keyframes icon{
    0%{
        margin-top: 3px;
    }
    100%{
        margin-top: 15px;
    }
}
.button1{
    position: relative;
    top: 16px;
    left: 660px;
    width: 200px;
    height: 70px;
    border-radius: 100px;
    background-color: #dca523;
    border-width: 2;
    border-color: black;
    border-style: solid;
    color: aliceblue;
}
.button1:hover{
    background-color: red;
}